@model Cliente.Models.VMs.NationalTeamViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Modificar</h1>

<h4>Selección nacional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label" hidden></label>
                <input asp-for="id" class="form-control" value="@ViewBag.idNT" type="hidden"/>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bettors" class="control-label"></label>
                <input asp-for="bettors" class="form-control" />
                <span asp-validation-for="bettors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="idCountry" class="form-control" value="@ViewBag.idCountry" type="hidden"/>
                <span asp-validation-for="bettors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark btn-block" asp-action="Index" asp-controller="Admin">Atrás</a>
</div>

