@using Microsoft.AspNetCore.Http

@model IEnumerable<Cliente.Models.VMs.MatchViewModel>

@{
    ViewData["Title"] = "Resultados de búsqueda";
}

<div class="row">
    <div class="col-12 granite text-light py-5">
        <h1>Resultados de búsqueda</h1>
        <p>Estos son los partidos que coinciden para la búsqueda</p>
    </div>

    <div class="col-lg-6 granite text-center">
        <figure>
            <img src="~/img/logo.svg" class="img-fluid rounded" />
        </figure>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 my-3">
            <div class="card granite text-light">
                <div class="card-body">
                    <h5 class="card-title">Partido @item.matchDate</h5>
                    <h6>@item.homeCountry VS @item.awayCountry</h6>
                    <a href="#" class="card-link">Más información</a>
                    <a href="#" class="card-link">Apostar</a>
                </div>
            </div>
        </div>
    }
<a asp-controller="Home" asp-action="Index">Volver</a>
</div>